@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{margin:0; padding:0;}

header{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color:#252525;
 
}

li,a,button{
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 30px 10%;
    
}

.logo{
    cursor: pointer;
}

.nav_Links{
    list-style: none;
}

.nav_Links li {
    display: inline-block;
    padding 20px 20px;
    
}

.nav_Links li a{
    transition: all 0.3s ease 0s;
}

.nav_Links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: #0088a9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;      
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

body{
    background-color:#e9e9e9;
    font-family: "Montserrat", sans-serif;
}

.homeBtn{
    width: 25em
}


.one{
    display: flex;
    place-items:center;
    background:#ff8c40; 
    margin:0;
    padding:0;
    position: relative;
    z-index: 10;     
}

/*
.one::after{
    position: relative;
    content: '';
    width: 200px;
    height: 470px;
    background: blue;
    bottom:  -1em;
    z-index: 100;
    left: ce;
    transform: skewX(0,-20deg)
}
*/



.two{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    flex: 1 1 200px;
/*    flex: 0 1 200px;*/
    margin: 5px;
    padding: 10px;
    border: 5px solid #ff8c40;
    text-align: center;
    background: #252525;
    
}

.hp{
    display: flex;
    clip-path: polygon(0 0, 73% 0, 59% 100%, 0% 100%);
}

footer{
    background-color:#252525;
    margin:0;
    padding:5px;
    color: white;
    text-align: center;
}

.pf{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}